
.responsive {
    width: 100%;
    height: auto;
}


.price {
	font-size: 110%;
	font-weight: 900;
}

.list-item {
	display: flex;
	margin-bottom: 6px;
	border-top: 1px solid #24A6E2;
}

.list-item .control {
	flex: 0 0 30px;
	margin-right: 5px;
	background: #24A6E2;
	color: #fff;
}

.list-item .body {
	flex: 1;
	display: flex;
	flex-wrap: wrap;
}
.list-item .body-top {
	flex:1;
	display: flex;
	margin-top: 5px;
}

.list-item .body-bottom {
	flex-basis: 100%;
}

.list-item .thumb {
	
	flex: 0 0 75px;
	margin-right: 5px;
}
.list-item .description {
	
	flex: 1;
}

.list-item .inputs {
	
	flex: 0 0 120px;
}

.item-image-large {
	max-width: 80%;
}

.item-heading {
	font-size: 150%;
}

