
// Fonts

// Variables
@import "variables";

@import "buttons";

@import "spastuff";

@import "sidenav";

@import "carousels";


.flex {
  display: flex;
  @media screen and (max-width: 680px) { 
    display: block;  
  }
}




.flex1 {
  flex: 1;
}




body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
  //color: #00629a;
  color: #333;
  @media screen and (max-width: 380px) { 
    max-width:340px;
    margin:0 auto;
  }
}



.greyline {
  min-height: 2px;
  height: 4px;
  border-radius: 7px;
  background-color: rgba(199, 199, 199, 1);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 1px 0 rgba(0, 0, 0, 0.25);
}

.editable {
  border: 1px dashed #ccccee;
}

// navbar
.navbar {
  border-radius: 0;
}
.navbar-default { 
  margin-bottom: 0px;
  border: none;
  background: #00629a;

  
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > .active > a {
  color: #eee;
   background:#025685;
}
.navbar-default .navbar-nav > .active > a:hover {
  color: #fff;
  background:#00639a;
}


#phonebox {
  text-align: right;
  color: #2789b5;
  margin-right: 10px; 
  margin-top:5px;
  font-size: 22px;
  
  @media screen and (min-width: 500px){
    font-size: 34px;
  }
}

#content-wrapper {
  min-height: 250px;
  
}
.page_content_wrapper {
  padding: 5px;
}

footer {
  margin-top: 26px;
  padding:10px;
  text-align: center;
  // border-top:3px solid $app-blue;
  // border-bottom:3px solid $app-blue;
}

#booking-page {

  width: 100%; 
  @media screen and (min-width: 768px){
    width: 480px;
  }
  margin: 0px auto; 
  position: relative; 
}
.booking-sidebar {
  z-index: 100;
  
  position: fixed; 
  width: 130px;
  top:18%;
  right: 16px;
  
  @media screen and (min-width: 468px){
    width: 140px;
  }
  min-height: 50px;
  padding:5px;
  border-radius:5px 10px 3px;
  background: rgba(255, 51, 0, 0.8);
  color: white;
}

.el-notification.right {

    right: 40px;

}



.app-footer {
     
    background: #666;
    color: #eee;
    z-index: 1000;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 90px;
    padding:10px;
    padding-bottom:10px;
    margin-top: 14px;
}

/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all .4s ease;
}
.slide-fade-leave-active {
  transition: all .3s ease-out;
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}

// Carousel
.carousel{
    background: #00629a;
    margin-top: 0px;
}
.carousel .item{
    // min-height: 90px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}
.carousel-indicators {
  display: none;
}
/*
  Bootstrap Carousel Fade Transition (for Bootstrap 3.3.x)
  CSS from:       http://codepen.io/transportedman/pen/NPWRGq
  and:            http://stackoverflow.com/questions/18548731/bootstrap-3-carousel-fading-to-new-slide-instead-of-sliding-to-new-slide
  Inspired from:  http://codepen.io/Rowno/pen/Afykb 
*/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

/*
  WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
  Need to override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}

// Media object
.media * {
  margin:0;
  padding:0;
}

.media {
  display: flex;
  width: 100%;
}
.media-left {
  margin-right: 1em;
}
.media-content {
  flex:1;
}
.media-content textarea {
  width: 100%;
  padding:0;
  min-height:80px;
  border-color: #cecece;
}

.box {
  border: 1px solid #cecece;
  padding: 20px;
}


// product qty buttons
// 
.left-rounded {
  border-radius: 15px 0px 0px 15px;
}
.right-rounded {
  border-radius: 0px 15px 15px 0px;
}

// Contact form
form .row {
  margin-top:15px;
}

.louder {
  text-align: center;
  font-size:115%; 
  margin:30px 0;
  color: $app-blue
}

.el-radio.is-bordered {
  border: 2px;
  background: #63b5db;
}
.el-radio.is-bordered.is-checked {
  border: 2px solid #2789b5;
  background: #24a6e2;

}


.el-radio__input + .el-radio__label {
  color: #eee;
}
.el-radio__input.is-checked + .el-radio__label {
  color: #fff;
}
.el-radio.is-checked .el-radio__inner {
  border-color: #ffffff;
  background: #2789b5;
}
.el-radio__inner::after {
  background-color:#2789b5;
}
.el-checkbox__inner {
  width: 28px;
  height:28px;
  border: 1px solid #888;

}

.el-checkbox__inner::after {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    content: "";
    border: 2px solid #fff;
    border-left: 0;
    border-top: 0;
    height: 12px;
    left: 8px;
    position: absolute;
    top: 4px;
    -webkit-transform: rotate(45deg) scaleY(0);
    transform: rotate(45deg) scaleY(0);
    width: 7px;
    -webkit-transition: -webkit-transform 0.15s cubic-bezier(0.71, -0.46, 0.88, 0.6) 0.05s;
    transition: -webkit-transform 0.15s cubic-bezier(0.71, -0.46, 0.88, 0.6) 0.05s;
    transition: transform 0.15s cubic-bezier(0.71, -0.46, 0.88, 0.6) 0.05s;
    transition: transform 0.15s cubic-bezier(0.71, -0.46, 0.88, 0.6) 0.05s, -webkit-transform 0.15s cubic-bezier(0.71, -0.46, 0.88, 0.6) 0.05s;
    -webkit-transform-origin: center;
    transform-origin: center;
}

// Admin Sidenav
.sidenav a {
    padding: 4px 4px 4px 12px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

// Table style - remove border
.table {
  border: none;
}
.table-striped > tbody > tr {
  border: 0px #ccc;
}
.table-striped > tbody > tr > td{
  border: 0px #ccc;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #d8d8d8;
  
}

.table-striped > tbody > tr:nth-of-type(even) {
  background-color: #fff;
  
}








